@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f2937;
}

.container{ 
    width: 350px;
    background-color: #111827;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
    padding: 30px;
}

.cals-text{
    margin-bottom: 20px;
    padding: 10px;
    background-color: #1f2937;
    font-size: 30px;
    text-align: right;
    min-height: 50px;
    border-radius: 10px;
}

.cals-text p{
    color: #d1d5db;
    font-size: 3rem;
    width: 100%;
    text-align: right;
    /* margin-bottom: 10px; */
    word-wrap: break-word;
    word-break: break-all;
}

button{
    font-size: 1.5rem;
    bottom: none;
    width: 65px;
    height: 65px;
    /* margin: 2px; */
    border: none;
    border-radius: 16px;
    /* background-color: #1f2937; */
    color: #000102;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover{
    background-color: #252c36;
    transform: scale(1.05);
    filter: brightness(1.1);
}

.cals-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.key-zero{
    grid-column: span 2;
    width: 100%;
    border-radius: 14px;
    background-color: #1f2937;
    color: #f3f4f6;
}

.key-operate{
    background-color: #14b8a6;
    color: #fff;
}

.key-others{
    background-color: #374151;
    color: #e5e7eb;
}

.key-numbers{
    background-color: #1f2937;
    color: #f3f4f6;
}

button:active{
    transform: scale(0.95);
}

